#gd-header-logo {
    background-image: url('../images/logo.png') !important;
}
.gd-mobile-menu {
    display: none;
}

/*
******************************************
Main area
******************************************
*/
.gd-conversion-drop {   
    top: 62px;
    width: 97%;
    height: 91%;
}
.gd-conversion-drop i {
    margin-top: 408px;
}
#gd-convert-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#gd-convert-area > i:first-child {
    font-size: 65px;
    margin-top: 448px;
    color: #959DA5;
}
#gd-convert-queue {
    display: none;
    flex-direction: column;
	height: 100%;
}
.gd-conversion-empty-label {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    font-size: 15px;
    color: #959DA5;
}

.gd-conversion-empty-label i {
    font-size: 14px;
}

/*
******************************************
File browse lightbox
******************************************
*/
#gd-btn-convert-all {
    cursor: not-allowed !important;
}
#gd-btn-convert-all.active {
    cursor: pointer !important;
}

.gd-conversions {
    margin: 19px 34px;
    width: 25px;
    height: 25px;    
    padding: 5px;
}
.gd-conversions.multiple {
    margin: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
}
.gd-conversions.active {
    background-color: #cccccc;
}
.gd-conversion-dropdown {
	top: -3px;
    left: 138px;
    z-index: 1;
}
.gd-conversion-input {
    display: none;
}
.gd-conversion-input:checked + .gd-conversion-menu {
	display: block;
    left: -147px;
    top: -21px;
    overflow: hidden;
    overflow-y: scroll; 
	position: relative;
    z-index: 1;
}
.gd-conversion-menu {      
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    display: none;
	width: 143px;
    height: 181px;
}
.gd-conversion-menu.multiple {
    left: 2px !important;
    top: 0px !important;   
}
.gd-conversion-menu li {
    color: #959DA5;
    height: 25px;
    display: flex;
    cursor: pointer;
}
.gd-conversion-menu li:hover {
    background-color: #25C2D4;
    color: #FFFFFF
}

.gd-conversion-menu li:hover .gd-type-warning i {
	color: #f2fa23;
}
.gd-conversion-menu i {
    margin: 6px 10px;
    color: #959DA5;
    font-size: 12px;
    height: 12px;
}
.gd-conversion-menu li:hover i {       
    color: #FFFFFF
}
.gd-type {
	font-size: 12px;
	line-height: 24px;
    width: 27px;
}
.gd-file-table-item > div:last-child > i {
    margin: 0;    
}
.gd-type-warning {
	margin: 8px 0 0 44px;
}
.gd-type-warning i {
	margin: 0;
}
.gd-conversion-tooltip {	
	height: 27px;
    width: 280px;
    z-index: 5;
    margin-top: -3px;
    margin-left: 6px;
    border-radius: 2px;
    background-color: #000000;
    color: #fff;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
	
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
    height: 21px;
    margin-top: -13px;
    left: -5px;
    top: 0;
    width: 5px;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #707070; 
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: unset;
    left: 3px;
    top: 0;
    color: #707070;
}
.tooltipster-sidetip .tooltipster-content {
    color: #fff;
    padding: 2px 4px 3px 7px;
}
.tooltipster-sidetip .tooltipster-box {
    background: #707070;
    border: 1px solid #707070;
    border-radius: 0;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-box {
    margin-left: 0;
}
/*
******************************************
Conversion file queue
******************************************
*/
.gd-convert-item {
    display: flex;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #cccccc;
}
.gd-convert-remove {
    font-size: 21px;
    color: #6E6E6E;
    margin: 23px 27px 0 21px;
    cursor: pointer;
}
.gd-filequeue-name {
    display: flex;
    width: 671px;
}
.gd-filequeue-name i {
    font-size: 32px;   
    margin: 19px 21px 0 0;
}
.gd-filequeue-name.disabled i {
    color: #6E6E6E;
}
.gd-queue-name {
    text-align: left;
    margin-top: 19px;
    cursor: default;
}
.gd-queue-size {
    text-align: left;
    font-size: 14px;
    margin-top: 26px;
}
.gd-destination-file {
    cursor: not-allowed;
}
.gd-destination-file .gd-queue-name {
	cursor: inherit;
}
.gd-convert-status {
    font-size: 32px;
    color: #DBDBDB;
	margin: 22px 122px 0 111px;
}
.gd-conversion-complite {
    display: none;
    color: #62A529;
	margin-left: 5px;
}
.gd-convert-progress {
    position: inherit;
    width: 32px;
    height: 32px;
    font-size: 32px !important;
    margin-top: -5px;
    display: none;
	color: #007aff;
}
.gd-convert-single, .gd-download-single {
    font-size: 16px;
    color: #808080;
    margin: 29px 52px;
    cursor: pointer;
}
.gd-download-single {
    display: none;
}
.gd-queue-header {
    display: flex;
    font-size: 11px;
    color: #ACACAC;
	width: 100%;
	height: 17px;
}
.gd-placeholder {
	margin: 0px 27px 0 35px;
}
.gd-queue-header div:nth-child(2) {   
    width: 671px;
    text-align: left;
	display: flex;
}
.gd-queue-header div:nth-child(4) {
    margin: 0px 122px 0 99px;
    width: 32px;
}
.gd-queue-header div:nth-child(3) {
   width: 121px;
   text-align: left;
}
.gd-queue-header div:nth-child(5){
	width: 671px;
    text-align: left;
}
.gd-queue-last-placeholder{
	margin: 0px 52px;
}