.gd-comparison-toggle:checked + .gd-lbl-toggle + #gd-select-compare-files{
  width: 16px;
}

.gd-comparison-toggle:checked + .gd-lbl-toggle {
  left: 1px;
  transition: left .25s ease-in-out;
  transform: rotate(360deg) translateX(3px);
}

.gd-lbl-toggle::before {
    content: ' ';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 5px solid currentColor;
}
.gd-comparison-toggle {
    display: none;
    position: fixed;
    top: 52%;
    left: 289px;
    height: 53px;
    font-size: 25px;
    z-index: 9999;
}
.gd-lbl-toggle {
    color: #959da5;
    top: 50%;
    left: 289px;
    cursor: pointer;
    position: fixed;
    transform: rotate(180deg) translateX(-3px);
    z-index: 2;
}
.gd-comparison-bar-wrapper{
    position: relative;
    top: 50px;
    left: 0px;
    margin-right: 17px;
}
.gd-comparison-bar-wrapper.active{
    width: 307px;
    margin-right: 49px;
}
#gd-header-logo {
    background-image: url('../images/logo.png') !important;
}
.gd-drag-n-drop-wrap-compare.hover {
    background: #ddd;
    border-color: #aaa;
}
#gd-compare-spinner {
    position: absolute;
    left: 44%;
}
.gd-url-cancel {
    background: transparent;
    position: absolute;
    left: -5px;
    top: 3px;
    font-size: 19px;
    color: #959da5;
}
.gd-url-cancel-first i {
    font-size: 21px;
    margin-top: 5px;
    margin-left: 6px;
}
.gd-add-url {
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #959da5;
    padding: 7px 16px 6px;
    font-size: 12px;
}
.gd-cancel-button {
    color: #959da5;
}
.gd-upload-files-table-idx {
    left: 15px;
    width: 260px;
    border-spacing: 0;
    position: relative;
}
.gd-upload-files-table-idx>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.gd-filetree-name-compare {
    position: absolute;
    top: 20px;
    left: 43px;
    width: 260px;
    color: #f8f8f8;
}
.gd-filetree-name-compare > span {
    font-size: 12px;
    font-weight: 300;
    color: #9a9a9a;
    margin-right: 15px;
}
.gd-upload-files-table-i {
    font-size: 21px;
    position: absolute;
    top: 25px;
    left: 10px;
    color: #959da5;
}
#gd-select-compare-files {
    width: 307px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    background-color: #3e4e5a;
    height: 95%;
    overflow-y: auto;
    z-index: 1;
}
.gd-drag-n-drop-wrap-compare {
    margin-top: 0px;
    width: 268px;
    border: 2px dashed #ccc;
    background-color: #f8f8f8;
    text-align: center;
    cursor: default;
    position: inherit;
}
.gd-drag-n-drop-wrap-compare h2 {
    color: #cacaca;
    margin: 5px 0;
    font-size: 13px;
    font-weight: 300;
}
.gd-drag-n-drop-wrap-compare h4 {
    color: #cacaca;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0;
}
.gd-drag-n-drop-wrap-compare h5 {
    color: #afafaf;
    font-weight: 200;
    font-size: 12px;
    margin: 20px 0 0 0;
}
#gd-select-compare-files section {
    padding: 12px 0 13px 16px;
    width: 281px;
}
.gd-drag-n-drop-buttons .btn {
    width: 112px;
}
#gd-pages section {
    display: block;
    padding: 20px 0 0;
}
.gd-upload-section-label {
    background-color: #3e4e5a;
    border-radius: 0px;
    color: #ffffff;
    padding-top: 9px;
    padding-left: 7px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}
#gd-upload-section-label i {
    margin-right: 10px;
    margin-left: -10px;
}
.gd-drag-n-drop-icon .fa-cloud-download-alt {
    color: #efefef;
    font-size: 47px;
}
.gd-browse-document i {
    font-size: 51px;
    color: #959da5;
}
.gd-modal-buttons {
    display: inline-grid;
    font-size: 14px;
    cursor: pointer;
}
.gd-page {
    display: block;
}
#gd-pages img {
    text-align: center;
    width: unset;
}
.gd-password-wrap {
    position: absolute;
    margin-top: 60px;
    z-index: 1;
}
.swiper-wrapper {
    height: 100px !important;
}
.gd-upload-complete-fail {
    right: 55px;
    top: 3px;
    display: none;
    color: #FF0000;
}
.gd-add-file-multicompare i {
    color: #959da5;
    font-size: 50px;
}
.gd-files-blocks {
    display: flex;
    display: inherit;
    height: 100%;
    width: 100%;
}
.gd-close-dad-area i {
    color: #ffffff;
}
.gd-password-wrap > input {
    width: unset;
}
.gd-url-wrap > input {
    width: 70%;
    margin-left: 20px;
}